html {
  min-height: 100%;
}

body {
  background: url("../img/tenor.gif") no-repeat;
  background-size: 100% 100% !important;
  overflow: hidden;
  min-height: 100%;
}

button {
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  top: 0;
  left: 0;
  height: 20px;
  width: 80px;
  background: url("../img/tenor.gif") repeat;
  background-size: 20px 20px !important;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  background: white;
  padding: 0 8px;
}
/*# sourceMappingURL=buttonhell.css.map */