body,
html {
  padding: 0;
  margin: 0;
  background: lightsalmon;
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.gebruiksvriendelijk {
  text-align: center;
  pointer-events: none;
}

.form_container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    width: 50%;
    box-sizing: border-box;
    margin: 20px 0;
    background: linear-gradient(to right, rgba(0, 128, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    padding: 2px 10px;
    border: none;
    outline: none;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    color: red;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: right;
    color: transparent;
  }

  .not_filled::placeholder {
    color: red !important;
  }

}

#showFormData {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  p {
    width: 50%;
  }
}

a {
  text-decoration: none;
  color: greenyellow;
  border: 1px solid black;
  top: 30px;
  left: 5px;
  padding: 20px;
  position: relative;
  background: #e7e7e7;
}

.tooltip {
  background: red;
  color: yellow;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  top: -15px;
  display: none;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
  }
}

.rainbow {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
  animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  10% {
    color: purple;
    -webkit-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
  }

  20% {
    color: red;
    -webkit-transform: rotateZ(120deg);
    transform: rotateZ(120deg);
  }

  40% {
    color: yellow;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }

  60% {
    color: green;
    -webkit-transform: rotateZ(240deg);
    transform: rotateZ(240deg);
  }

  80% {
    color: blue;
    -webkit-transform: rotateZ(300deg);
    transform: rotateZ(300deg);
  }

  100% {
    color: orange;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* Internet Explorer */
@-ms-keyframes rainbow {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  40% {
    color: yellow;
  }

  60% {
    color: green;
  }

  80% {
    color: blue;
  }

  100% {
    color: orange;
  }
}

/* Standard Syntax */
@keyframes rainbow {
  0% {
    color: orange;
    transform: rotateZ(0deg);
  }

  10% {
    color: purple;
    transform: rotateZ(60deg);
  }

  20% {
    color: red;
    transform: rotateZ(120deg);
  }

  40% {
    color: yellow;
    transform: rotateZ(180deg);
  }

  60% {
    color: green;
    transform: rotateZ(240deg);
  }

  80% {
    color: blue;
    transform: rotateZ(300deg);
  }

  100% {
    color: orange;
    transform: rotateZ(360deg);
  }
}