body,
html {
  padding: 0;
  margin: 0;
  background: lightsalmon;
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.gebruiksvriendelijk {
  text-align: center;
  pointer-events: none;
}

.form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_container form input,
.form_container form textarea {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  background: -webkit-gradient(linear, left top, right top, from(green), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, green 0%, rgba(255, 255, 255, 0) 100%);
  color: red;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  padding: 2px 10px;
  border: none;
  outline: none;
}

.form_container form input[type=number]::-webkit-inner-spin-button,
.form_container form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form_container form label {
  color: red;
}

.form_container form input::-webkit-input-placeholder,
.form_container form textarea::-webkit-input-placeholder {
  text-align: right;
  color: transparent;
}

.form_container form input:-ms-input-placeholder,
.form_container form textarea:-ms-input-placeholder {
  text-align: right;
  color: transparent;
}

.form_container form input::-ms-input-placeholder,
.form_container form textarea::-ms-input-placeholder {
  text-align: right;
  color: transparent;
}

.form_container form input::placeholder,
.form_container form textarea::placeholder {
  text-align: right;
  color: transparent;
}

.form_container form .not_filled::-webkit-input-placeholder {
  color: red !important;
}

.form_container form .not_filled:-ms-input-placeholder {
  color: red !important;
}

.form_container form .not_filled::-ms-input-placeholder {
  color: red !important;
}

.form_container form .not_filled::placeholder {
  color: red !important;
}

#showFormData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showFormData p {
  width: 50%;
}

a {
  text-decoration: none;
  color: greenyellow;
  border: 1px solid black;
  top: 30px;
  left: 5px;
  padding: 20px;
  position: relative;
  background: #e7e7e7;
}

.tooltip {
  background: red;
  color: yellow;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  top: -15px;
  display: none;
}

.tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.rainbow {
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;
  /* Internet Explorer */
  /* Standar Syntax */
  animation: rainbow 3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
  0% {
    color: orange;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  10% {
    color: purple;
    -webkit-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
  }
  20% {
    color: red;
    -webkit-transform: rotateZ(120deg);
    transform: rotateZ(120deg);
  }
  40% {
    color: yellow;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  60% {
    color: green;
    -webkit-transform: rotateZ(240deg);
    transform: rotateZ(240deg);
  }
  80% {
    color: blue;
    -webkit-transform: rotateZ(300deg);
    transform: rotateZ(300deg);
  }
  100% {
    color: orange;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* Internet Explorer */

/* Standard Syntax */
@keyframes rainbow {
  0% {
    color: orange;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  10% {
    color: purple;
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  20% {
    color: red;
    -webkit-transform: rotateZ(120deg);
            transform: rotateZ(120deg);
  }
  40% {
    color: yellow;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  60% {
    color: green;
    -webkit-transform: rotateZ(240deg);
            transform: rotateZ(240deg);
  }
  80% {
    color: blue;
    -webkit-transform: rotateZ(300deg);
            transform: rotateZ(300deg);
  }
  100% {
    color: orange;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */